:host {
  margin-top: 1rem;
  margin-left: 0rem;
  width: 300px;
  height: 100%;
}

table {
  inline-size: 100%;

  tr {
    block-size: 2.8125rem;
  }

  td {
    &:first-child {
      inline-size: 10rem;
      font-weight: bold;
    }

    &:last-child {
      inline-size: 3rem;
    }
  }
}

.viewport {
  block-size: 15.625rem;
}
