<div tuiPlatform="ios">
  <h4 class="tui-space_vertical-1">Value with icon</h4>
  <tui-badge appearance="primary" iconStart="@tui.box" size="xl">
    x-large
  </tui-badge>

  <tui-badge
    appearance="primary"
    iconStart="@tui.box"
    size="l"
    class="tui-space_left-1"
  >
    large
  </tui-badge>

  <tui-badge
    appearance="primary"
    iconStart="@tui.box"
    size="m"
    class="tui-space_left-1"
  >
    medium
  </tui-badge>

  <tui-badge
    appearance="primary"
    iconStart="@tui.box"
    size="s"
    class="tui-space_left-1"
  >
    small
  </tui-badge>
</div>
