<tui-textfield
  class="index-controller"
  [tuiTextfieldCleaner]="false"
  tuiTextfieldSize="s"
>
  <label tuiLabel>activeItemIndex</label>

  <input
    tuiInputNumber
    [max]="value.length - 1"
    [min]="0"
    [ngModel]="activeItemIndex"
    [step]="1"
    [tuiNumberFormat]="{ precision: 0 }"
    (ngModelChange)="onTextfieldChange($event)"
  />
</tui-textfield>

<div class="wrapper">
  <tui-arc-chart
    size="m"
    class="tui-space_right-4"
    [value]="value"
    [(activeItemIndex)]="activeItemIndex"
  >
    Total value
  </tui-arc-chart>
</div>
