<header tuiNavigationHeader class="header">
  <app-toolbar
    class="w-full"
    (onChange)="dashboardService.onSearchChange($event)"
  ></app-toolbar>
</header>
<main tuiNavigationMain class="main-navigation">
  <div class="main-content-wrapper">
    @for (item of dashboardService.componentItems(); track $index) {
      <div class="column">
        <app-element-container [title]="item.title">
          <app-element-card
            [title]="item.title"
            [description]="item.description"
            [url]="item.url"
          >
            <ng-container *ngComponentOutlet="item.component"></ng-container>
          </app-element-card>
        </app-element-container>
      </div>
    } @empty {
      <app-no-items-found />
    }
  </div>
</main>
