<app-element-container title="Button">
    <app-element-card title="Button" description="Button Control"
                      url="https://taiga-ui.dev/components/button">
        <button
                size="l"
                tuiButton
                type="button"
        >
            Large
        </button>
    </app-element-card>
    <app-element-card title="Button Close" description="Close Button"
                      url="https://taiga-ui.dev/components/button-close">
        <button
                tuiButtonClose
                tuiIconButton
                type="button"
        >
            Close
        </button>
    </app-element-card>
    <app-element-card title="Button Group" description="Button Groups"
                      url="https://taiga-ui.dev/components/button-group">
        <div
                tuiButtonGroup
                tuiSurface="elevated"
        >
            <button type="button">
                <tui-icon icon="@tui.circle-plus"/>
                Create a payment
            </button>

            <button type="button">
                <tui-icon
                        badge=""
                        icon="@tui.circle-plus"
                />
                Pay the bill
            </button>

            <button type="button">
                <tui-icon
                        badge="@tui.lock"
                        icon="@tui.circle-plus"
                        class="custom"
                />
                Remove from favorites
            </button>
        </div>
    </app-element-card>
</app-element-container>
