:host ::ng-deep tui-filter label {
  border: rgba(12, 12, 12, 0.648) solid 2px !important;
  transition: border-color 0.3s;
}
:host ::ng-deep tui-filter label:hover {
  border-color: black !important;
}
